span {
    width: 50px;
    height: 50px;
}
.hg-icon {
    background-size: 100%;
    overflow: hidden;
    display: inline-block;
    background-repeat: no-repeat;
}
.icon-teacher {
    background-image: url('../assets/images/app/129.png');
}
.icon-teacher.icon-active {
    background-image: url('../assets/images/app/39.png');
}
.icon-teacher.disable {
    background-image: url('../assets/images/app/39.png');
}
.icon-student {
    background-image: url('../assets/images/app/44.png');
}
.icon-student.icon-active {
    background-image: url('../assets/images/app/45.png');
}
.icon-student.disable {
    background-image: url('../assets/images/app/46.png');
}
.icon-parent {
    background-image: url('../assets/images/app/28.png');
}
.icon-parent.icon-active {
    background-image: url('../assets/images/app/27.png');
}
.icon-parent.disable {
    background-image: url('../assets/images/app/26.png');
}
.icon-mod {
    background-image: url('../assets/images/app/35.png');
}
.icon-mod.icon-active {
    background-image: url('../assets/images/app/36.png');
}
.icon-mod.disable {
    background-image: url('../assets/images/app/35-1.png');
}
.icon-folder {
    background-image: url('../assets/images/app/49.png');
}
.icon-folder.icon-active {
    background-image: url('../assets/images/app/48.png');
}
.icon-folder.green {
    background-image: url('../assets/images/app/47.png');
}
.icon-file {
    background-image: url('../assets/images/app/16.png');
}
.icon-file.icon-active {
    background-image: url('../assets/images/app/15.png');
}
.icon-file.red {
    background-image: url('../assets/images/app/17.png');
}
.icon-nav {
    background-image: url('../assets/images/app/67.png');
}
.icon-nav.icon-active {
    background-image: url('../assets/images/app/66.png');
}
.icon-user {
    background-image: url('../assets/images/app/112.png');
}
.icon-user.icon-active {
    background-image: url('../assets/images/app/113.png');
}
.icon-user.disable {
    background-image: url('../assets/images/app/111.png');
}
.icon-home {
    background-image: url('../assets/images/app/5.png');
}
.icon-home.icon-active {
    background-image: url('../assets/images/app/6.png');
}
.icon-contact {
    background-image: url('../assets/images/app/161.png');
}
.icon-contact.icon-active {
    background-image: url('../assets/images/app/162.png');
}
.icon-qr {
    background-image: url('../assets/images/app/165.png');
}
.icon-qr.icon-active {
    background-image: url('../assets/images/app/166.png');
}
.icon-library {
    background-image: url('../assets/images/app/168.png');
}
.icon-library.icon-active {
    background-image: url('../assets/images/app/167.png');
}
.icon-chat-bubble {
    background-image: url('../assets/images/app/168.png');
}
.icon-chat-bubble.icon-active {
    background-image: url('../assets/images/app/167.png');
}
.icon-guide {
    background-image: url('../assets/images/app/164.png');
}
.icon-guide.icon-active {
    background-image: url('../assets/images/app/163.png');
}
.icon-search {
    background-image: url('../assets/images/app/124.png');
}
.icon-search.icon-active {
    background-image: url('../assets/images/app/125.png');
}
.icon-account {
    background-image: url('../assets/images/app/28.png');
}
.icon-account.icon-active {
    background-image: url('../assets/images/app/27.png');
}
.icon-vip {
    background-image: url('../assets/images/app/157.png');
}
.icon-vip.icon-active {
    background-image: url('../assets/images/app/158.png');
}
.icon-lock {
    background-image: url('../assets/images/app/150.png');
}
.icon-lock.icon-active {
    background-image: url('../assets/images/app/151.png');
}
.icon-load {
    background-image: url('../assets/images/app/152.png');
}
.icon-close.icon-red {
    background-image: url('../assets/images/app/85.png');
}
.icon-close {
    background-image: url('../assets/images/app/86.png');
}
.icon-add-round {
    background-image: url('../assets/images/app/130.png');
}
