:root {
    --blue: #226bcf;
    --black: #3a3a3a;
    --green: #2aa699;
    --grey: #797979;
    --light-grey: #bebebe;
    --bg-grey: #f6f6f6;
    --border-light-grey: #eeeeef;
}
body {
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
    font-family: Effra;
}
h1, h2, h3, h4 {
    color: var(--blue);
}
a, a:hover {
    text-decoration: none;
    color: var(--black);
}
@font-face {
    font-family: Effra;
    src: url(../assets/fonts/iCielEffra-Regular.otf);
}
@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/RobotoCondensed-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
textarea:focus, input:focus{
    outline: none;
}
.font-effra {
    font-family: Effra;
}
.font-eroboto {
    font-family: Roboto;
}
.h-50 {
    height: 50%;
}
.py-10 {
    padding-top: 10%;
    padding-bottom: 10%;
}
.w-70 {
    width: 70%;
}
.w-80 {
    width: 70%;
}
.w-90 {
    width: 90%;
}
.text-black {
    color: var(--black) !important;
}
.text-blue {
    color: var(--blue) !important;
}
.text-light-grey {
    color: var(--light-grey) !important;
}
.text-green {
    color: var(--green) !important;
}
.reverse {
    transform: rotate(180deg);
}
.space-5 {
    width: 100%;
    height: 5rem;
}
.btn-primary {
    background-color: var(--blue);
    padding: 1px 15px;
}
.custom-tooltip {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.tooltip-container {
    position: relative;
}
.mail.custom-tooltip {
    display: block;
    width: 325px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.show-tooltip {
    position: absolute;
    bottom: -100%;
    left: 0;
    background-color: #e5e5e5;
    display: none;
    border-radius: 5px;
    padding: 0 10px;
}
.custom-tooltip:hover + .show-tooltip {
    display: block;
}
.required {
    color: red;
}
.arrow-container {
    min-width: 60px;
    position: relative;
}
.arrow-container.arrow-right .arrow-text {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    width: 7em;
}
.signup-header {
    display: flex;
    justify-content: space-between;
    padding: 40px 40px;
}
.signup-header img {
}
.signup-header>div {
    display: inline-block;
    height: 120px;
}
.signup-header .arrow-container {
    display: flex;
    align-items: center;
}
.signup-header a {
    display: inline-flex;
}
.register-form .form-body {
    margin: 0 auto;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.form-body .label, .form-body .register-button {
    line-height: 2.2em;
}
.form-body input {
    border: none;
    border-bottom: 1px solid var(--black);
}
.form-body .register-button a {
    color: var(--blue);
}
.register-info {
    margin: 0 auto;
}
.form-body.register-info-form.grid-container {
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 30px;
}
.register-info-form-1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.register-info-form-2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
}
.register-info-form-2-1 .input {
    position: relative;
    margin: 0 auto;
    border: 1px solid var(--black);
    border-radius: 5px;
}
.input-text-above-first-name input, .input-text-above-last-name input {
    padding-left: 20px;
    padding-right: 20px
}
.input-text-above-first-name:before {
    content: 'Họ và đệm';
    background: white;
    position: absolute;
    top: 0;
    padding: 0 10px;
    margin-left: 10px;
    transform: translateY(-50%);
}
.input-text-above-last-name:before {
    content: 'Tên';
    background: white;
    position: absolute;
    top: 0;
    padding: 0 10px;
    margin-left: 10px;
    transform: translateY(-50%);
}
.gender-input {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.gender-input input {
    margin-top: 0.4em;
}
.date-group input::-webkit-outer-spin-button,
.date-group input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.date-group input[type=number] {
  -moz-appearance: textfield;
}
.date-group .date-input, .date-group .month-input {
    width: 2em;
    margin-right: 0.3em;
    margin-left: 0.5em;
    text-align: center;
}
.date-group .year-input {
    width: 3em;
    margin-right: 0.3em;
    margin-left: 0.5em;
    text-align: center;
}

/* change radio input*/
.full-fill-radio-input {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 0;
}
.full-fill-radio-input input[type=radio] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0.25em;
    left: 0;
    height: 0.8em;
    width: 0.8em;
    background-color: white;
    border: 1px solid var(--black);
    border-radius: 50%;
}
.full-fill-radio-input input:checked ~ .checkmark {
    background-color: var(--blue);
    border: 1px solid var(--blue);
}
.extra-large h1 {
    font-size: 3.1rem;
}
.extra-large h3 {
    font-size: 2rem;
}
.login-form .form-body {
    margin: 0 auto;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.login-form .button-container {
    display: grid;
    width: 50%;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
}
.function-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.function-icon {
    border: 2px solid white;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 3rem;
    transition-property: border;
    transition-duration: 0.3s;
    -webkit-box-shadow: 0 0 10px var(--light-grey);
    box-shadow: 0 0 10px var(--light-grey);
}
.function-icon:hover {
    border: 2px solid var(--grey);
}
.function-icon span.hg-icon {
    width: 6rem;
    height: 6rem;
}
.function-icon.disabledbutton {
    cursor: unset;
}
.function-icon.disabledbutton:hover {
    border: 2px solid white;
}
.disabledbutton h5 {
    color: var(--light-grey);
}
.sidebar {
    width: 55px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3% 0;
    background-color: white;
    box-shadow: 0px 0px 6px var(--light-grey);
    border-right: 0.1px solid var(--light-grey);
}
.sidebar a {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    position: relative;
}
.sidebar a.active:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    bottom: 0;
    border: 3px solid var(--blue);
    height: 80%;
    background-color: var( --blue);
}
.sidebar a span {
    margin: 0 10px;
    width: 30px;
    height: 30px;
}
.sidebar a:hover {
    background-color: #f1f3f4;
    transition-property: background-color;
    transition-duration: 0.3s;
}
.sidebar-logo img, .sidebar-profile img {
    width: 100%;
}
.main-container {
    background-color: var(--bg-grey);
    margin-left: 55px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.mn-main-header {
    padding: 45px 60px;
    height: 200px;
    border-bottom: 2px solid var(--border-light-grey);
}
.mn-content {
    max-height: calc(100vh - 200px);
}
.mn-content-maincontent {
    /*flex: 1;*/
    overflow: auto;
}
.mn-content-search {
    /*position: fixed;*/
    background-color: var(--bg-light-grey);
    height: 4rem;
}
.mn-content-search .hg-icon {
    width: 30px;
    float: left;
}
.mn-content-search-input {
    border: none;
    background: transparent;
    font-size: 1.5rem;
    line-height: 1.5rem;
}
.mn-content-search-input::placeholder {
    color: var(--black);
    opacity: 1;
}
.mn-content-search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--black);
}
.mn-content-search-input::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--black);
}
.mn-content-search {
    border-bottom: 2px solid var(--border-light-grey);
}
.mn-tab .nav-tabs .nav-link.active {
    color: var(--blue);
    background-color: transparent;
    border: none;
}
.mn-tab .nav-tabs .nav-link {
    color: var(--light-grey);
    border: none;
    transition-duration: 0.3s;
    transition-property: all;
    position: relative;
    overflow: hidden;
    padding-left: 45px;
    line-height: 2.5rem;
}
.mn-tab .nav-tabs .nav-link::after {
    content: '';
    position: absolute;
    bottom: 3px;
    height: 2px;
    width: 100%;
    background-color: var(--blue);
    transition: 0.3s all;
    left: -100%;
}
.mn-tab .nav-tabs .nav-link:hover {
    color: var(--blue);
}
.mn-tab .nav-tabs .nav-link:hover::after {
    left: 0;
    transform: translateX(0%);
}
.mn-tab .nav-tabs .nav-link .hg-icon {
    height: 2rem;
    width: 2rem;
    position: absolute;
    left: 5px;
    bottom: 1rem;
}
.mn-content .tab-pane#list2, .mn-content .tab-pane#list1 {
    display: none;
}
.mn-content .tab-pane#list2.active, .mn-content .tab-pane#list1.active {
    display: block;
}
.mn-tab .nav-link.active .hg-icon.icon-account {
    background-image: url('../assets/images/app/27.png');
}
.mn-tab .nav-link.active .hg-icon.icon-vip {
    background-image: url('../assets/images/app/158.png');
}
.account-list.list-container {
    max-height: calc(100vh - 4rem - 200px - 60px);
    overflow: auto;
}
.storage-id-list {
    max-height: calc(100vh - 4rem - 200px);
    overflow: auto;
}
.account-list .list-item, .account-list-header {
    height: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 5fr;
    margin-bottom: 10px;
    padding: 0 25px;
    align-items: center;
}
.list-item .list-avatar {
    height: 50px;
}
.list-item .hg-icon {
    height: 30px;
    width: 30px;
    margin-left: 20px;
}
.account-list .list-item:not(.header) {
    background-color: white;
    border-radius: 15px;
    -webkit-box-shadow: 1px 3px 8px var(--light-grey);
    box-shadow: 1px 3px 8px var(--light-grey);
}
.list-item__user-name {
    font-size: 1.5rem;
    content: var(--blue);
    font-weight: bold;
}
.list-item__id {
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 1.5rem;
    cursor: pointer;
}
.list-item .icon-lock {
    cursor: pointer;
}
.storage-id-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
}
.storage-id-list .storage-item {
    background: white;
    border-radius: 15px;
    box-shadow: 1px 3px 8px var(--light-grey);
    color: var(--blue);
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    position: relative;    
    padding-right: 3.5rem;
}
.storage-id-list .storage-item span.hg-icon {
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
}
.storage-item {
    cursor: pointer;
}
.storage-item__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.5rem;
    display: inline-flex;
}
.fixed-add-icon {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
}
.fixed-add-icon .hg-icon {
    width: 5.5rem;
    height: 5.5rem;
    filter: drop-shadow(3px 4px 4px var(--light-grey));
}
.pop-up-modal-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    vertical-align: middle;
}
.modal-box {
    background: white;
    display: inline-block;
    border-radius: 20px;
    padding: 10px;
    margin: 0 auto;
    min-width: 40vw;
}
.modal-box .modal-header {
    align-items: baseline;
    border-bottom: 1px solid var(--light-grey);
}
.modal-box .modal-header .hg-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 2rem;
}
.modal-box .modal-confirm {
    color: var(--green);
    font-size: 1.5rem;
}
.modal-title {
    color: var(--blue);
    font-size: 1.5rem;
    line-height: 1.7rem;
}
.modal-row {
    width: 100%;
}
.modal-box input {
    height: 4rem;
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 0 17px;
    font-size: 1.5rem;
}
.modal-label {
    line-height: 4rem;
    font-size: 1.5rem;
    float: right;
    text-align: right;
}
.available-message {
    color: var(--green);
}
.error-message {
    color: var(--red);
}
::placeholder {
    color: var(--light-grey);
    opacity: 1; /* Firefox */
    font-size: 0.9em;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--light-grey);
    font-size: 0.9em;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--light-grey);
    font-size: 0.9em;
}
input[type=radio]:checked~.custom-control-label.green::before {
  background-color: green;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px grey;*/
    border-radius: 10px;
    background-color: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--light-grey);
    border-radius: 10px;
}
