.treeview {
    line-height: 28px;
    font-weight: 500;
    font-size: 15px;
}
.treeview,
.treeview ul,
.treeview ul li {
    width: 100%;
    float: left;
    list-style: none;
}
.treeview .folder {
    position: relative;
}
.treeview .folder span.hg-icon {
    width: 20px;
    height: 20px;
    margin-left: 30px;
}
.treeview .folder:before,
.treeview .file:before,
.treeview .external:before {
    font-family:'FontAwesome';
    float: left;
    margin-right: 6px;
}
.treeview .folder:before {
    content: '';
    background-image: url('../assets/images/app/7.png');
    position: absolute;
    left: 0;
    font-size: 17px;
    width: 20px;
    height: 20px;
    background-position: top left;
    background-size: cover;
}
/*.treeview .file:before {
    font-size: 90%;
    content: "v"
}*/
.treeview .external:before {
    font-size: 90%;
    content: "";
}
.treeview .extend .folder > ul {
    display: none;
    padding-left: 18px;
}
.treeview .extend label {
    float: left;
}
.treeview .extend input {
    display: none;
}
.treeview .extend input[type=checkbox] + span.hg-icon:before {
    content: "";
    background-image: url('../assets/images/app/48.png');
    color: #111;
    float: left;
    font-size: 14px;
    margin-left: 1px;
    margin-top: 7px;
    cursor: pointer;
}
.treeview .extend input[type=checkbox]:checked + span.hg-icon:before {
    background-image: url('../assets/images/app/7.png');
    content: '';
}
.treeview .extend input[type=checkbox]:checked ~ ul {
    display: block;
}
