<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width"
        />
        <title></title>
        <link
            rel="shortcut icon"
            href="images/favicon/logo.png"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="css/styles.css" />
        <link rel="stylesheet" href="css/backdoor.css" />
        <script src="js/main.js"></script>
        <style></style>
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                <div class="container">
                    <div class="header__inner">
                        <div class="logo">
                            <a href="#"><img src="images/logo.png" alt="logo" /></a>
                        </div>
                        <div class="header-btn">
                            <a href="#" class="main-btn">
                                <img src="images/icon-user.png" />
                                Đăng ký & Đăng nhập
                            </a>
                        </div>
                    </div>
                </div>
            </header>
            <main class="main" id="fullpage">
                <section class="section p-section-1" data-ao="fade">
                    <div class="p1">
                        <div class="p1__wrap">
                            <div class="container">
                                <div class="p1__content">
                                    <div class="p1__title">
                                        <h2 class="main-title tt-60 f-light --w-cl">
                                            Môi trường đa kết nối
                                        </h2>
                                    </div>
                                    <div class="p1__title">
                                        <h2 class="main-title tt-60 --w-cl">
                                            Cộng hưởng sự khác biệt
                                        </h2>
                                    </div>
                                    <div class="scroll-down">
                                        <div class="scroll-down__icon">
                                            <div class="icon">
                                                <img src="images/icon-arrow-down.png" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section p-section-2" data-ao="fade">
                    <div class="p-frame p2">
                        <div class="p-frame-aside">
                            <div class="aside-text">
                                <p>quản lý</p>
                            </div>
                        </div>
                        <div class="p-frame-content">
                            <div class="container">
                                <div class="cols">
                                    <div class="col left">
                                        <div class="p2-list">
                                            <div class="p2-item" style="--index: 1">
                                                <div class="content">
                                                    <h2 class="main-title --m-cl tt-14">
                                                        Bộ lọc câu hỏi đa chức năng
                                                    </h2>
                                                    <p class="desc tt-14">
                                                        Giúp thầy cô dễ dàng bao quát ngân hàng câu hỏi
                                                    </p>
                                                </div>
                                                <div class="img">
                                                    <img src="images/p2-img-3.png" alt="" />
                                                </div>
                                            </div>
                                            <div class="p2-item" style="--index: 2">
                                                <div class="img">
                                                    <img src="images/p2-img-1.png" alt="" />
                                                </div>
                                                <div class="content">
                                                    <h2 class="main-title --m-cl tt-14">
                                                        Soạn đề chuyên nghiệp với cấu trúc ma trận
                                                    </h2>
                                                    <p class="desc tt-14">
                                                        Giúp thầy cô soạn nhiêu đề thi có chung yêu cầu chất
                                                        lượng chuyên môn
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="p2-item" style="--index: 3">
                                                <div class="img">
                                                    <img src="images/p2-img-2.png" alt="" />
                                                </div>
                                                <div class="content">
                                                    <h2 class="main-title --m-cl tt-14">
                                                        Biểu đồ chất lượng đề thi trực quan
                                                    </h2>
                                                    <p class="desc tt-14">
                                                        Giúp thầy cô soạn những đề thi chất lượng nhất
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col right">
                                        <div class="p-content">
                                            <div class="icon --mb-20">
                                                <img src="images/icon-p2.png" alt="" />
                                            </div>
                                            <div class="content">
                                                <h2 class="main-title tt-50 f-light --mb-20 --m-cl">
                                                    Công cụ quản lý câu hỏi và đề thi
                                                    <span class="--m-cl f-bold"> chuyên nghiệp</span>
                                                </h2>
                                                <div class="desc tt-18">
                                                    <p class="--mb-30">
                                                        Bạn có cả một ngân hàng câu hỏi và hàng tá bộ đề đã
                                                        kì công soạn thảo?
                                                    </p>
                                                    <p>
                                                        Tất cả sẽ được sắp xếp gọn gàng để bạn luôn có thể
                                                        dễ dàng tìm và chỉnh sửa
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section p-section-3" data-ao="fade">
                    <div class="p-frame p3">
                        <div class="p-frame-aside">
                            <div class="aside-text">
                                <p>Kiểm tra</p>
                            </div>
                        </div>
                        <div class="p-frame-content">
                            <div class="container">
                                <div class="cols">
                                    <div class="col left">
                                        <div class="p3-list">
                                            <div class="p3-item" style="--index: 1">
                                                <div class="content">
                                                    <h2 class="main-title --w-cl tt-14">
                                                        Kiểm tra online trên nhiều thiết bị
                                                    </h2>
                                                </div>
                                                <div class="img">
                                                    <img src="images/p3-img-1.png" alt="" />
                                                </div>
                                            </div>
                                            <div class="p3-item" style="--index: 2">
                                                <div class="content">
                                                    <h2 class="main-title --w-cl tt-14">
                                                        Khóa màn hình kiểm tra chống gian lận
                                                    </h2>
                                                </div>
                                                <div class="img">
                                                    <img src="images/p3-img-2.png" alt="" />
                                                </div>
                                            </div>
                                            <div class="p3-item" style="--index: 3">
                                                <div class="content">
                                                    <h2 class="main-title --w-cl tt-14">
                                                        Thu bài và chấm điểm ngay khi kết thúc
                                                    </h2>
                                                </div>
                                                <div class="img">
                                                    <img src="images/p3-img-3.png" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col right">
                                        <div class="p-content">
                                            <div class="icon --mb-20">
                                                <img src="images/icon-p3.png" alt="" />
                                            </div>
                                            <div class="content">
                                                <h2 class="main-title tt-50 f-light --mb-20">
                                                    Phương thức kiểm tra
                                                    <span class="--m-cl f-bold">đa phương tiện</span>
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section p-section-4">
                    <div class="p-frame p4">
                        <div class="p-frame-aside">
                            <div class="aside-text">
                                <p>Quét bài thi</p>
                            </div>
                        </div>
                        <div class="p-frame-content">
                            <div class="container">
                                <div class="cols">
                                    <div class="col left">
                                        <div class="p-content">
                                            <div class="icon --mb-20">
                                                <img src="images/icon-p4.png" alt="" />
                                            </div>
                                            <div class="content">
                                                <h2 class="main-title tt-50 f-light --mb-20">
                                                    <span class="--m-cl f-bold">Chấm điểm </span
                                                    ><br />thật dễ dàng
                                                </h2>
                                                <div class="desc tt-18">
                                                    <p>
                                                        Giơ điện thoại lên và quét bài thi. Đó là cách bạn
                                                        chấm điểm với HGEdu.<br />
                                                        Chức năng chỉ khả dụng trên ứng dụng di động
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col right">
                                        <div class="p4-decor">
                                            <div class="p4-circle"></div>
                                            <div class="p4-img p4-img-1">
                                                <img src="images/p4-img-1.jpg" alt="" />
                                            </div>
                                            <div class="p4-img p4-img-2">
                                                <img src="images/2.png" alt="" class="hand hand-2" />
                                                <img
                                                    src="images/p4-hand.png"
                                                    alt=""
                                                    class="hand hand-1"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section p-section-5">
                    <div class="p-frame p5">
                        <div class="p-frame-aside">
                            <div class="aside-text">
                                <p>Tạo đề</p>
                            </div>
                        </div>
                        <div class="p-frame-content">
                            <div class="container">
                                <div class="cols">
                                    <div class="col left">
                                        <div class="p-content">
                                            <div class="icon --mb-20">
                                                <img src="images/icon-p5.png" alt="" />
                                            </div>
                                            <div class="content">
                                                <h2 class="main-title tt-50 f-light --mb-20">
                                                    Dễ dàng
                                                    <span class="--m-cl f-bold">tạo file word</span> đề
                                                    thi và đáp án
                                                </h2>
                                                <div class="desc tt-18">
                                                    <p>
                                                        Một cú nhấp chuột, vài giây chờ đợi và bộ đề của bạn
                                                        đã sẵn sàng để chỉnh sửa trên Word và in ấn
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col right">
                                        <div class="p5-decor">
                                            <div class="p5-circle"></div>
                                            <div class="p5-img-1">
                                                <img src="images/p5-print.png" alt="" />
                                            </div>
                                            <div class="p5-img-2">
                                                <div class="icon">
                                                    <img src="images/icon-word.png" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section p-section-6">
                    <div class="p-frame p6">
                        <div class="p-frame-aside">
                            <div class="aside-text">
                                <p>Theo dõi</p>
                            </div>
                        </div>
                        <div class="p-frame-content">
                            <div class="container">
                                <div class="cols">
                                    <div class="col left">
                                        <div class="p-content">
                                            <div class="icon --mb-20">
                                                <img src="images/icon-p6.png" alt="" />
                                            </div>
                                            <div class="content">
                                                <h2 class="main-title tt-50 f-light --mb-20">
                                                    <span class="--m-cl f-bold">Theo dõi con em </span>
                                                    thật dễ dàng
                                                </h2>
                                                <div class="desc tt-18">
                                                    <p>
                                                        <!-- Luôn theo sát tình hình học tập của con và không bỏ
                                                        lỡ bất kì thông báo nào đến từ giáo viên. -->
                                                        Liên tục cập nhật tình hình học tập của con và không
                                                        bỏ lỡ bất kì thông báo nào của giáo viên.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col right">
                                        <div class="p6-decor">
                                            <div class="p6-circle"></div>
                                            <div class="p6-list">
                                                <div class="p6-item tt-18">
                                                    <p>Số tiền cần thanh toán</p>
                                                    <h2 class="main-title tt-40 --uppercase --m-cl">
                                                        100,000 VNĐ
                                                    </h2>
                                                </div>
                                                <div class="p6-item">
                                                    <img src="images/icon-mess.png" alt="" />
                                                    <p class="t-uppercase">
                                                        <b>14:00 PM</b> - Kiểm trả 15P
                                                    </p>
                                                </div>
                                                <div class="p6-item-noti">
                                                    <p class="main-title f-bold --m-cl tt-18">
                                                        Thông báo
                                                    </p>
                                                    <p class="c --m-cl">có 1 thống báo mới</p>
                                                    <p class="desc">
                                                        Kính mời cha mẹ học sinh tới dự buổi họp tổng kết kì
                                                        I của lớp
                                                    </p>
                                                    <a href="#" class="p6-btn">
                                                        <img
                                                            src="images/icon-right-arrow-blue.png"
                                                            alt=""
                                                        />
                                                    </a>
                                                    <div class="img">
                                                        <img src="images/p6-img.png" alt="" />
                                                    </div>
                                                </div>
                                                <div class="p6-item-list">
                                                    <h2 class="main-title tt-18 --uppercase --m-cl">
                                                        Điểm hệ số
                                                    </h2>
                                                    <ul>
                                                        <li>
                                                            <a href="">Kiểm tra miệng (1) </a>
                                                            <span>8.0</span>
                                                        </li>
                                                        <li>
                                                            <a href="">Kiểm tra miệng (1)</a>
                                                            <span>8.0</span>
                                                        </li>
                                                        <li>
                                                            <a href="">Trung bình</a>
                                                            <span>8.0</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section p-section-7">
                    <div class="p-frame p7">
                        <div class="p-frame-aside">
                            <div class="aside-text">
                                <p>Liên hệ</p>
                            </div>
                        </div>
                        <div class="p-frame-content">
                            <div class="container">
                                <div class="p7-contact">
                                    <div class="cols">
                                        <div class="col">
                                            <div class="p7-contact-item">
                                                <h2 class="main-title tt-30 --m-cl --mb-30">
                                                    Chức năng
                                                </h2>
                                                <div class="p7-contact-list">
                                                    <ul>
                                                        <li>
                                                            <a href="#">Giáo viên</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Học sinh</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Phụ huynh</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="p7-contact-item">
                                                <h2 class="main-title tt-30 --m-cl --mb-30">Hỗ trợ</h2>
                                                <div class="p7-contact-list">
                                                    <ul>
                                                        <li>
                                                            <a href="#">Đăng ký</a>
                                                        </li>
                                                        <!-- <li>
                                                            <a href="#">Trung tâm hỗ trợ</a>
                                                        </li> -->
                                                        <li><a href="#">Thuê bao</a></li>
                                                        <!-- <li><a href="#">Nguyên tắc công cộng</a></li> -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="p7-contact-item">
                                                <h2 class="main-title tt-30 --m-cl --mb-30">
                                                    Giới thiệu
                                                </h2>
                                                <div class="p7-contact-list">
                                                    <ul>
                                                        <li>
                                                            <a href="#">Công ty </a>
                                                        </li>
                                                        <!-- <li>
                                                            <a href="#">Báo chí </a>
                                                        </li> -->
                                                        <li><a href="#">Tuyển dụng </a></li>
                                                        <li><a href="#"> Đánh giá</a></li>
                                                        <li><a href="#"> Quảng cáo</a></li>
                                                        <li><a href="#"> Quyền riêng tư</a></li>
                                                        <li><a href="#"> Điều khoản</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="p7-contact-item">
                                                <h2 class="main-title tt-30 --m-cl --mb-30">
                                                    Chức năng
                                                </h2>
                                                <div class="p7-social">
                                                    <ul class="--mb-30">
                                                        <li>
                                                            <a href="#"
                                                                ><i
                                                                    class="fa fa-facebook"
                                                                    aria-hidden="true"
                                                                ></i
                                                            ></a>
                                                        </li>
                                                        <li>
                                                            <a href="#"
                                                                ><i class="fa fa-twitter" aria-hidden="true"></i
                                                            ></a>
                                                        </li>
                                                        <li>
                                                            <a href="#"
                                                                ><i
                                                                    class="fa fa-instagram"
                                                                    aria-hidden="true"
                                                                ></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <p>Bản quyền thuộc về HG Education</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <!-- JQUERY -->
        <script src="js/libs/jquery-1.12.4.min.js"></script>
        <!-- JQUERY - END-->
        <!-- MFP -->
        <script src="js/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
        <!-- MFP - END-->
        <!-- FULL PAGE -->
        <script src="js/libs/fullPage.js-master/vendors/easings.min.js"></script>
        <script src="js/libs/fullPage.js-master/vendors/scrolloverflow.min.js"></script>
        <script src="js/libs/fullPage.js-master/dist/fullpage.min.js"></script>
        <!-- FULL PAGE - END -->
        <!-- MAIN -->
        <script src="js/main.js" type="module" defer></script>
        <script src="js/script.js"></script>
        <!-- MAIN - END -->
    </body>
</html>
