span {
    width: 50px;
    height: 50px;
}
.hg-icon {
    background-size: 100%;
    overflow: hidden;
    display: inline-block;
    background-repeat: no-repeat;
}
.icon-teacher {
    background-image: url('../images/app/129.png');
}
.icon-teacher.icon-active {
    background-image: url('../images/app/39.png');
}
.icon-teacher.disable {
    background-image: url('../images/app/39.png');
}
.icon-student {
    background-image: url('../images/app/44.png');
}
.icon-student.icon-active {
    background-image: url('../images/app/45.png');
}
.icon-student.disable {
    background-image: url('../images/app/46.png');
}
.icon-parent {
    background-image: url('../images/app/28.png');
}
.icon-parent.icon-active {
    background-image: url('../images/app/27.png');
}
.icon-parent.disable {
    background-image: url('../images/app/26.png');
}
.active>.icon-parent {
    background-image: url('../images/app/27.png');
}
.icon-mod {
    background-image: url('../images/app/35.png');
}
.icon-mod.icon-active {
    background-image: url('../images/app/36.png');
}
.icon-mod.disable {
    background-image: url('../images/app/35-1.png');
}
.icon-folder {
    /*background-image: url('../images/app/49.png');*/
    background-color: var(--black);
    -webkit-mask: url('../images/app/menu/library/folder.svg') no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: url('../images/app/menu/library/folder.svg');
}
.icon-folder.icon-active {
    background-color: var(--blue);
    /*background-image: url('../images/app/48.png');*/
}
.icon-folder.green, .icon-folder.icon-green {
    /*background-image: url('../images/app/47.png');*/
    background-color: var(--green);
}
.icon-file {
    /*background-image: url('../images/app/16.png');*/
    background-color: var(--black);
    -webkit-mask: url('../images/app/menu/library/file.svg') no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: url('../images/app/menu/library/file.svg');
}
.icon-file.disable {
    /*background-image: url('../images/app/137.png');*/
    background-color: var(--grey);
}
.icon-file.icon-active {
    background-color: var(--blue);
    /*background-image: url('../images/app/15.png');*/
}
.icon-file.red, .icon-file.icon-red {
    background-color: var(--red);
    /*background-image: url('../images/app/17.png');*/
}
.icon-nav {
    background-image: url('../images/app/67.png');
}
.icon-nav.icon-active {
    background-image: url('../images/app/66.png');
}
.icon-user {
    /*background-image: url('../images/app/112.png');*/
    background-color: var(--black);
    -webkit-mask: url('../images/app/menu/19-1-account.svg') no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: url('../images/app/menu/19-1-account.svg');
}
.icon-user.icon-active {
    /*background-image: url('../images/app/113.png');*/
    background-color: var(--blue);
}
.icon-user.disable {
    /*background-image: url('../images/app/111.png');*/
    background-color: var(--grey);
}
.icon-home {
    background-color: var(--black);
    -webkit-mask: url('../images/app/menu/11-home.svg') no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: url('../images/app/menu/11-home.svg');
}
.icon-home.icon-active, .sidebar .active>.icon-home {
    background-color: var(--blue);
    /*background-image: url('../images/app/6.png');*/
}
.icon-contact {
    background-image: url('../images/app/161.png');
}
.icon-contact.icon-active, .sidebar .active>.icon-contact {
    background-image: url('../images/app/162.png');
}
.icon-mod-bubble {
    background-image: url('../images/app/160.png');
}
.icon-mod-bubble.icon-active, .sidebar .active>.icon-mod-bubble {
    background-image: url('../images/app/159.png');
}
.icon-qr {
    background-image: url('../images/app/165.png');
}
.icon-qr.disable {
    background-image: url('../images/app/188.png');
}
.icon-qr.icon-active {
    background-image: url('../images/app/166.png');
}
.icon-library {
    background-image: url('../images/app/168.png');
}
.icon-library.disable {
    background-image: url('../images/app/189.png');
}
.icon-library.icon-active {
    background-image: url('../images/app/167.png');
}
.icon-chat-bubble {
    background-image: url('../images/app/160.png');
}
.icon-chat-bubble.disable {
    background-image: url('../images/app/185.png');
}
.icon-chat-bubble.icon-active {
    background-image: url('../images/app/159.png');
}
.icon-guide {
    background-image: url('../images/app/164.png');
}
.icon-guide.disable {
    background-image: url('../images/app/187.png');
}
.icon-guide.icon-active {
    background-image: url('../images/app/163.png');
}
.icon-search {
    background-image: url('../images/app/124.png');
}
.icon-search.icon-active {
    background-image: url('../images/app/125.png');
}
.icon-account {
    background-image: url('../images/app/28.png');
}
.icon-account.disable {
    background-image: url('../images/app/26.png');
}
.icon-account.icon-active {
    background-image: url('../images/app/27.png');
}
.icon-vip {
    background-image: url('../images/app/157.png');
}
.icon-vip.icon-active {
    background-image: url('../images/app/158.png');
}
.icon-lock {
    background-image: url('../images/app/150.png');
}
.icon-lock.icon-active {
    background-image: url('../images/app/151.png');
}
.icon-load {
    background-image: url('../images/app/152.png');
}
.icon-close.icon-red {
    background-image: url('../images/app/85.png');
}
.icon-close {
    background-image: url('../images/app/86.png');
}
.icon-add-round {
    background-image: url(../images/app/88.png);
    background-color: var(--green);
    border-radius: 50%;
    background-size: 28px 28px;
    background-position: center;
}
.icon-mail {
    /*background-image: url('../images/app/25.png');*/
    background-color: var(--black);
    -webkit-mask: url('../images/app/menu/12-mail.svg') no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: url('../images/app/menu/12-mail.svg');

}
.icon-mail.icon-green {
    /*background-image: url('../images/app/176.png');*/
    background-color: var(--green);
}
.icon-mail.disable {
    /*background-image: url('../images/app/23.png');*/
    background-color: var(--grey);
}
.icon-mail.icon-active, .active>.icon-mail {
    /*background-image: url('../images/app/24.png');*/
    background-color: var(--blue);
}
.icon-paper-4 {
    background-image: url('../images/app/13.png');
}
.icon-paper-4.disable {
    background-image: url('../images/app/178.png');
}
.icon-paper-4.icon-active {
    background-image: url('../images/app/12.png');
}
.icon-contact-book {
    /*background-image: url('../images/app/19.png');*/
    background-color: var(--black);
    -webkit-mask: url('../images/app/menu/13-contact.svg') no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: url('../images/app/menu/13-contact.svg');
}
.icon-contact-book.icon-active {
    /*background-image: url('../images/app/18.png');*/
    background-color: var(--blue);
}
.icon-plane {
    /*background-image: url('../images/app/59.png');*/
    background-color: var(--black);
    -webkit-mask: url('../images/app/menu/19-help.svg') no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: url('../images/app/menu/19-help.svg');
}
.icon-plane.icon-active, .sidebar .active>.icon-plane {
    /*background-image: url('../images/app/58.png');*/
    background-color: var(--blue);
}
.icon-group {
    /*background-image: url('../images/app/54.png');*/
    background-color: var(--black);
    -webkit-mask: url('../images/app/menu/17-group.svg') no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: url('../images/app/menu/17-group.svg');
}
.icon-group.icon-active, .sidebar .active>.icon-group {
    /*background-image: url('../images/app/53.png');*/
    background-color: var(--blue);
}
.icon-edit {
    background-color: var(--black);
    -webkit-mask: url('../images/app/menu/18-abbreviation.svg') no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: url('../images/app/menu/18-abbreviation.svg');
    /*background-image: url('../images/app/82.png');*/
}
.icon-edit.icon-green {
    /*background-image: url('../images/app/175.png');*/
    background-color: var(--green);
}
.icon-edit.icon-active, .sidebar .active>.icon-edit {
    /*background-image: url('../images/app/81.png');*/
    background-color: var(--blue);
}
.icon-bell {
    /*background-image: url('../images/app/96.png');*/
    background-color: var(--black);
    -webkit-mask: url('../images/app/menu/bell.svg') no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: url('../images/app/menu/bell.svg');
}
.icon-bell.icon-active, .sidebar .active>.icon-bell {
    /*background-image: url('../images/app/97.png');*/
    background-color: var(--blue);
}
.icon-plan {
    background-image: url('../images/app/40.png');
}
.icon-plan.icon-active, .sidebar .active>.icon-plan {
    background-image: url('../images/app/42.png');
}
.icon-plan.icon-red {
    background-image: url('../images/app/43.png');
}
.icon-plan.icon-green {
    background-image: url('../images/app/41.png');
}
.icon-class {
    background-image: url('../images/app/115.png');
}
.icon-class.icon-active, .sidebar .active>.icon-class {
    background-image: url('../images/app/114.png');
}
.icon-class.disable {
    background-image: url('../images/app/126.png');
}
.icon-pencil.icon-active {
    background-image: url('../images/app/57.png');
}
.icon-math {
    background-image: url('../images/app/142.png');
}
.icon-teacher-2 {
    background-image: url('../images/app/44.png');
}
.icon-teacher-2.icon-active {
    background-image: url('../images/app/45.png');
}
.icon-teacher-2.disable {
    background-image: url('../images/app/46.png');
}
.icon-colleague {
    background-image: url('../images/app/129.png');
}
.icon-colleague.icon-active {
    background-image: url('../images/app/39.png');
}
.icon-colleague.disable {
    background-image: url('../images/app/38.png');
}
.icon-add-contact {
    background-image: url(../images/app/121.png);
    background-color: var(--green);
    border-radius: 50%;
    background-size: 28px 28px;
    background-position: center;
}
.icon-open-arrow {
    background-image: url('../images/app/7.png');
}
.icon-prev-arrow {
    background-image: url('../images/app/7.png');
    transform: rotate(90deg);
}
.icon-next-arrow {
    background-image: url('../images/app/7.png');
    transform: rotate(-90deg);
}
.icon-up-arrow {
    background-image: url('../images/app/7.png');
    transform: rotate(180deg);
}
.icon-down-arrow {
    background-image: url('../images/app/7.png');
}
.icon-card-red {
    background-image: url('../images/app/103.png');
}
.icon-card-blue {
    background-image: url('../images/app/105.png');
}
.icon-card-grey {
    background-image: url('../images/app/104.png');
}
.icon-card-tab {
    background-image: url('../images/app/102.png');
}
.active .icon-card-tab {
    background-image: url('../images/app/106.png');
}
.active .icon-door {
    /*background-image: url('../images/app/icon-door-active.png');*/
    background-color: var(--blue);
}
.icon-door {
    /*background-image: url('../images/app/101.png');*/
    background-color: var(--black);
    -webkit-mask: url('../images/app/menu/16-class.svg') no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: url('../images/app/menu/16-class.svg');
}
.icon-door.icon-active {
    /*background-image: url('../images/app/icon-door-active.png');*/
    background-color: var(--blue);
}
.icon-calendar {
    background-image: url('../images/app/98.png');
}
.icon-calendar.icon-active {
    background-image: url('../images/app/100.png');
}
.icon-calendar.disable {
    background-image: url('../images/app/99.png');
}
.active .icon-calendar {
    background-image: url('../images/app/100.png');
}
.icon-clock {
    background-image: url('../images/app/107.png');
}
.icon-info {
    background-image: url('../images/app/78.png');
}
.icon-info.icon-active {
    background-image: url('../images/app/79.png');
}
.icon-info.icon-red {
    background-image: url('../images/app/77.png');
}
.icon-schedule.disable {
    background-image: url('../images/app/29.png');
}
.icon-schedule, .active .icon-schedule, .icon-schedule.icon-active {
    background-image: url('../images/app/30.png');
}
.icon-board.disable {
    background-image: url('../images/app/110.png');
}
.icon-board {
    background-image: url('../images/app/109.png');
}
.active .icon-board, .icon-board.icon-active {
    background-image: url('../images/app/108.png');
}
.icon-back {
    background-image: url('../images/app/127.png');
}
.icon-back.icon-active, .icon-back-blue {
    background-image: url('../images/app/128.png');
}
.icon-plus {
    background-image: url('../images/app/87.png');
}
.icon-plus.icon-active {
    background-image: url('../images/app/180.png');
}
.icon-plus.icon-white {
    background-image: url('../images/app/88.png');
}
.icon-plus .disable {
    background-image: url('../images/app/172.png');
}
.icon-time-clock {
    background-image: url('../images/app/70.png');
}
.icon-library-menu {
    background-color: var(--black);
    -webkit-mask: url('../images/app/menu/14-library.svg') no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: url('../images/app/menu/14-library.svg');
}
.icon-library-menu.icon-active, .sidebar .active>.icon-library-menu {
    background-color: var(--blue);
}
.icon-test-menu {
    background-color: var(--black);
    -webkit-mask: url('../images/app/menu/15-test.svg') no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: url('../images/app/menu/15-test.svg');
}
.icon-test-menu.icon-active, .sidebar .active>.icon-test-menu {
    background-color: var(--blue);
}
.icon-paper {
    background-image: url('../images/app/171.png');
}
.icon-paper.icon-active, .sidebar .active>.icon-paper {
    background-image: url('../images/app/170.png');
}
.icon-add-contact-2 {
    background-image: url('../images/app/122.png');
}
.icon-add-contact-2.icon-green {
    background-image: url('../images/app/120.png');
}
.icon-add-contact-2.icon-white {
    background-image: url('../images/app/121.png');
}
.icon-add-contact-2.disable {
    background-image: url('../images/app/177.png');
}
.icon-send-2 {
    background-image: url('../images/app/60.png');
}
.icon-send-2.icon-active {
    background-image: url('../images/app/61.png');
}
.icon-bubble-chat-1 {
    background-image: url('../images/app/93.png');
}
.icon-bubble-chat-2 {
    background-image: url('../images/app/94.png');
}
.icon-fx {
    background-image: url('../images/app/76.png');
}
.icon-content {
    background-image: url('../images/app/72.png');
}
.icon-paper-2 {
    background-image: url('../images/app/34.png');
}
.icon-paper-2.icon-active {
    background-image: url('../images/app/33.png');
}
.icon-download {
    background-image: url('../images/app/74.png');
}
.icon-download.icon-active {
    background-image: url('../images/app/75.png');
}
.icon-download.disable {
    background-image: url('../images/app/73.png');
}
.icon-add-folder {
    /*background-image: url('../images/app/9.png');*/
    background-color: var(--black);
    -webkit-mask: url('../images/app/menu/library/add-folder.svg') no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: url('../images/app/menu/library/add-folder.svg');
}
.icon-add-folder.disable {
    /*background-image: url('../images/app/8.png');*/
    background-color: var(--grey);
}
.icon-add-folder.icon-active {
    background-color: var(--blue);
    /*background-image: url('../images/app/10.png');*/
}
.icon-add-file {
    background-image: url('../images/app/21.png');
}
.icon-add-file.disable {
    background-image: url('../images/app/22.png');
}
.icon-add-file.icon-active {
    background-image: url('../images/app/20.png');
}
.icon-trash {
    background-image: url('../images/app/55.png');
}
.icon-paper-3 {
    background-image: url('../images/app/71.png');
}
.icon-paper-3.disable {
    background-image: url('../images/app/71-1.png');
}
.icon-paper-3.icon-active {
    background-image: url('../images/app/72.png');
}
.icon-image {
    background-image: url('../images/app/32.png');
}
.icon-image.icon-active {
    background-image: url('../images/app/31.png');
}
.icon-question {
    background-image: url('../images/app/14.png');
}
.icon-physical {
    background-image: url('../images/app/141.png');
}
.icon-math {
    background-image: url('../images/app/142.png');
}
.icon-chemistry {
    background-image: url('../images/app/143.png');
}
.icon-history {
    background-image: url('../images/app/144.png');
}
.icon-language {
    background-image: url('../images/app/139.png');
}
.icon-biology {
    background-image: url('../images/app/140.png');
}
.icon-civic-education {
    background-image: url('../images/app/145.png');
}
.icon-other-subject {
    background-image: url('../images/app/147.png');
}
.icon-geography {
    background-image: url('../images/app/146.png');
}
.icon-geography.disable {
    background-image: url('../images/app/146-2.png');
}
.icon-dropdown {
    background-image: url('../images/app/181.png');
}
.icon-dropdown.icon-grey, .icon-dropdown.disable {
    background-image: url('../images/app/182.png');
}
.icon-cgs {
    background-image: url('../images/app/seetest1.png');
}
.icon-test-1 {
    background-image: url('../images/app/62.png');
}
.icon-test-2 {
    background-image: url('../images/app/64.png');
}
.icon-test-1.icon-active {
    background-image: url('../images/app/63.png');
}
.icon-test-1.disable {
    background-image: url('../images/app/62.png');
}
.icon-test-2.icon-active {
    background-image: url('../images/app/65.png');
}
.icon-test-2.disable {
    background-image: url('../images/app/64.png');
}
.icon-target {
    background-image: url('../images/app/37.png');
}
.icon-check.icon-white {
    background-image: url('../images/app/51.png');
}
.icon-logout {
    /*background-image: url('../images/app/68.png');*/
    background-image: url('../images/app/power_settings_new-24px.svg');
}
.icon-logout.icon-red {
    background-image: url('../images/app/69.png');
}
.icon-info2 {
    background-image: url('../images/app/95.png');
}
.icon-touch {
    background-image: url('../images/app/56.png');
}
.icon-setting {
    background-image: url('../images/app/settings.png');
}
.icon-tick {
    background-image: url('../images/app/4.png');
}
.icon-list {
    background-image: url('../images/app/84.png');
}
.icon-list.icon-active {
    background-image: url('../images/app/83.png');
}
.icon-statistic, .sidebar .active>.icon-statistic  {
    background-image: url('../images/app/89.png');
    background-size: 83%;
    background-position: center center;
}
.icon-statistic, .sidebar .icon-statistic {
    background-image: url('../images/app/183.png');
    background-size: 83%;
    background-position: center center;
}
.icon-reply, .icon-reply.icon-active {
    background-image: url('../images/app/reply.png');
}
.icon-reply.disable {
    background-image: url('../images/app/reply-1.png');
}
.icon-chart {
    background-image: url('../images/app/3.png');
}
.icon-filter {
    background-image: url('../images/app/11.png');
}
.icon-upload {
    background-image: url('../images/app/to-mod.png');
}
.icon-tick-2 {
    background-image: url('../images/app/52.png');
}
.icon-tick-2.icon-active {
    background-image: url('../images/app/52.png');
}
.icon-tick-2.icon-green {
    background-image: url('../images/app/50.png');
}
.icon-tick-2.icon-white {
    background-image: url('../images/app/51.png');
}
.icon-arrow-down {
    background-image: url('../images/app/173.png');
}
.icon-eye.icon-green {
    background-image: url('../images/app/136.png');
    background-size: 120%;
    background-position: center;
}
.icon-setting.icon-green {
    background-image: url('../images/app/134.png');
}
.icon-medal {
    background-image: url('../images/app/medal.png');
}
.icon-medal.disable {
    background-image: url('../images/app/medal_1.png');
}
.icon-youtube.disable {
    background-image: url('../images/app/youtube_2.png');
}
.icon-youtube.active {
    background-image: url('../images/app/youtube_1.png');
}
.icon-upload-bg {
    background-image: url('../images/app/131.png');
}

.math {
    background-image: url('../images/app/function.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
.math.squareroot1 {
    background-image: url('../images/app/math.png');
    background-position-x: -86px;
    width: 60px;
    height: 50px;
}
.math.squareroot1.active, .active>.math.squareroot1 {
    background-image: url('../images/app/math.png');
    background-position-x: -17px;
}
.math.matrix {
/*    background-image: url('../images/app/fx/2/12matrixbrac.svg');
    background-size: 85% auto;
    background-position: center center;*/

    background-image: url('../images/app/math.png');
    background-position-x: -230px;
    width: 60px;
    height: 50px;
}
.math.matrix.active, .active>.math.matrix {
    background-image: url('../images/app/math.png');
    background-position-x: -157px;
/*    background-color: var(--blue);
    background-image: unset;
    -webkit-mask: url(../images/app/fx/2/12matrixbrac.svg) no-repeat;
    mask-image: url(../images/app/fx/2/12matrixbrac.svg);
    -webkit-mask-size: 85% auto;
    -webkit-mask-position: center center;*/
}
.math.float {
    background-image: url('../images/app/math.png');
    background-position-x: -334px;
    width: 60px;
    height: 50px;
}
.math.float.active, .active>.math.float {
    background-image: url('../images/app/math.png');
    background-position-x: -289px;
}
.math.arrow {
    background-image: url('../images/app/math.png');
    background-position-x: -408px;
    width: 40px;
    height: 50px;
}
.math.arrow.active, .active>.math.arrow {
    background-image: url('../images/app/math.png');
    background-position-x: -379px;
}
.math.alpha {
    background-image: url('../images/app/math.png');
    background-position-x: -477px;
    width: 60px;
    height: 50px;
}
.math.alpha.active, .active>.math.alpha {
    background-image: url('../images/app/math.png');
    background-position-x: -434px;
}
.math.abc {
    background-image: url('../images/app/math.png');
    background-position-x: -585px;
    width: 40px;
    height: 50px;
}
.math.abc.active, .active>.math.abc {
    background-image: url('../images/app/math.png');
    background-position-x: -535px;
}
.math.squareroot2 {
    background-image: url('../images/app/fx/1/11sqrt.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
    /*background-size: auto 90%;*/
    /*background-position-x: -5px;*/
}
.math.squareroot3 {
    background-image: url('../images/app/fx/1/12yrt.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 90%;
    background-position-x: -41px;*/
}
.math.square1 {
    background-image: url('../images/app/fx/1/21a^x.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-position-x: -74px;
    background-size: auto 86%;
    background-position-y: center;*/
}
.math.square2 {
    background-image: url('../images/app/fx/1/23a^x_y.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 86%;
    background-position-y: center;
    background-position-x: -109px;*/
}
.math.square3 {
    background-image: url('../images/app/fx/1/25underset.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 86%;
    background-position-y: center;
    background-position-x: -144px;*/
}
.math.square4 {
    background-image: url('../images/app/fx/1/22a_x.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 86%;
    background-position-y: center;
    background-position-x: -213px;*/
}
.math.square5 {
    background-image: url('../images/app/fx/1/24overset.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 86%;
    background-position-x: -178px;
    background-position-y: center;*/
}
.math.square6 {
    background-image: url('../images/app/fx/1/26overunder.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 113%;
    background-position-x: -331px;
    background-position-y: center;*/
}
.math.square7 {
    background-image: url('../images/app/fx/1/31frac.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
    /*background-position-x: -328px;*/
}
.math.integral1 {
    background-image: url('../images/app/fx/1/32int.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
    /*background-position-x: -367px;*/
}
.math.lim {
    background-image: url('../images/app/fx/1/41lim.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
    /*background-position-x: -453px;*/
}
.math.log {
    background-image: url('../images/app/fx/1/42log.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
    /*background-position-x: -411px;*/
}
.math.sum1 {
    background-image: url('../images/app/fx/1/43sum.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
    /*background-position-x: -492px;*/
}
.math.sum2 {
    background-image: url('../images/app/fx/1/44sumunder.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
    /*background-position-x: -492px;*/
}
.math.abs {
    background-image: url('../images/app/fx/1/45abs.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
    /*background-position-x: -533px;*/
}
.math.integral2 {
    background-image: url('../images/app/fx/1/51int.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 86%;
    background-position-y: center;
    background-position-x: -484px;*/
}
.math.integral3 {
    background-image: url('../images/app/fx/1/53iint.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 86%;
    background-position-y: center;
    background-position-x: -525px;*/
}
.math.integral4 {
    background-image: url('../images/app/fx/1/55iiint.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 86%;
    background-position-y: center;
    background-position-x: -559px;*/
}
.math.integral5 {
    background-image: url('../images/app/fx/1/52oint.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 86%;
    background-position-y: center;
    background-position-x: -664px;*/
}
.math.integral6 {
    background-image: url('../images/app/fx/1/54oiint.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 86%;
    background-position-y: center;
    background-position-x: -629px;*/
}
.math.integral7 {
    background-image: url('../images/app/fx/1/56oiiint.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 86%;
    background-position-x: -594px;
    background-position-y: center;*/
}
.math.integral8 {
    background-position-x: -1894px;
    width: 40px;
    height: 50px;
}
.math.matrix1 {
    background-image: url('../images/app/fx/2/11matrix.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
    /*background-position-x: -856px;*/
}
.math.matrix2 {
    background-image: url('../images/app/fx/2/13matrixsqbrac.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
    /*background-position-x: -897px;*/
}
.math.matrix3 {
    background-image: url('../images/app/fx/2/12matrixbrac.svg');
    background-size: 85% auto;
    background-position: center center;

    /*background-position-x: -936px;*/
    width: 40px;
    height: 50px;
}
.math.matrix4 {
    background-image: url('../images/app/fx/2/14matrixbraclet.svg');
    background-size: 85% auto;
    background-position: center center;

    /*background-position-x: -815px;*/
    width: 40px;
    height: 50px;
}
.math.matrix5 {
    background-image: url('../images/app/fx/2/21cases.svg');
    background-size: 85% auto;
    background-position: center center;

    /*background-position-x: -978px;*/
    width: 40px;
    height: 50px;
}
.math.equal1 {
    background-image: url('../images/app/fx/3/11eq.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 70%;
    background-position-x: -707px;
    background-position-y: center;*/
}
.math.equal2 {
    background-image: url('../images/app/fx/3/13eqa.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 70%;
    background-position-x: -1187px;
    background-position-y: center;*/
}
.math.equal3 {
    background-image: url('../images/app/fx/3/15equiv.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-position-x: -1159px;
    background-position-y: center;
    background-size: auto 70%;*/
}
.math.equal4 {
    background-image: url('../images/app/fx/3/17le.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 70%;
    background-position-x: -1131px;
    background-position-y: center;*/
}
.math.equal5 {
    background-image: url('../images/app/fx/3/12approx.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 70%;
    background-position-x: -1102px;
    background-position-y: center;*/
}
.math.equal6 {
    background-image: url('../images/app/fx/3/14ne.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 70%;
    background-position-x: -1074px;
    background-position-y: center;*/
}
.math.equal7 {
    background-image: url('../images/app/fx/3/16ge.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 70%;
    background-position-x: -1046px;
    background-position-y: center;*/
}
.math.equal8 {
    background-image: url('../images/app/fx/3/18pm.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 70%;
    background-position-x: -1018px;
    background-position-y: center;*/
}
.math.special1 {
    background-image: url('../images/app/fx/3/21in.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -751px;
    background-position-y: center;*/
}
.math.special2 {
    background-image: url('../images/app/fx/3/23ni.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -773px;
    background-position-y: center;*/
}
.math.special3 {
    background-image: url('../images/app/fx/3/25exist.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -729px;
    background-position-y: center;*/
}
.math.special4 {
    background-image: url('../images/app/fx/3/27cap.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -708px;
    background-position-y: center;*/
}
.math.special5 {
    background-image: url('../images/app/fx/3/29-0subset.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -684px;
    background-position-y: center;*/
}
.math.special6 { /*missing*/
    background-image: url('../images/app/fx/3/29-2clock.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 68%;
    background-position-x: -2361px;
    background-position-y: center;*/
}
.math.special7 {
    background-image: url('../images/app/fx/3/22notin.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -662px;
    background-position-y: center;*/
}
.math.special8 {
    background-image: url('../images/app/fx/3/24notni.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -640px;
    background-position-y: center;*/
}
.math.special9 {
    background-image: url('../images/app/fx/3/26nexists.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -618px;
    background-position-y: center;*/
}
.math.special10 {
    background-image: url('../images/app/fx/3/28cup.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -597px;
    background-position-y: center;*/
}
.math.special11 {
    background-image: url('../images/app/fx/3/29-1supset.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
    /*background-size: auto 55%;*/
}
.math.specialN {
    background-image: url('../images/app/fx/3/31N.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
}
.math.specialQ {
    background-image: url('../images/app/fx/3/33Q.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
}
.math.specialC {
    background-image: url('../images/app/fx/3/35C.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
}
.math.specialZ {
    background-image: url('../images/app/fx/3/32Z.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
}
.math.specialR {
    background-image: url('../images/app/fx/3/34R.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
}

.math.arrow1 {
    background-image: url('../images/app/fx/4/11to.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 65%;
    background-position-x: -1546px;
    background-position-y: center;*/
}
.math.arrow2 {
    background-image: url('../images/app/fx/4/13uparrow.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 65%;
    background-position-x: -1468px;
    background-position-y: center;*/
}
.math.arrow3 { /*missing*/
    background-image: url('../images/app/fx/4/15implies.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 65%;
    background-position-x: -1336px;
    background-position-y: center;*/
}
.math.arrow4 {
    background-image: url('../images/app/fx/4/17Uparrow.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 65%;
    background-position-x: -1362px;
    background-position-y: center;*/
}
.math.arrow5 {
    background-image: url('../images/app/fx/4/12gets.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 65%;
    background-position-x: -1520px;
    background-position-y: center;*/
}
.math.arrow6 {
    background-image: url('../images/app/fx/4/14downarrow.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 65%;
    background-position-x: -1494px;
    background-position-y: center;*/
}
.math.arrow7 {
    background-image: url('../images/app/fx/4/16impliedby.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 65%;
    background-position-x: -1415px;
    background-position-y: center;*/
}
.math.arrow8 {
    background-image: url('../images/app/fx/4/8⇒ down.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 65%;
    background-position-x: -1441px;
    background-position-y: center;*/
}
.math.arrow9 {
    background-image: url('../images/app/fx/4/22iff.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 65%;
    background-position-x: -1310px;
    background-position-y: center;*/
}
.math.arrow10 {
    background-image: url('../images/app/fx/4/31to.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 65%;
    background-position-x: -1285px;
    background-position-y: center;*/
}
.math.arrow11 {
    background-image: url('../images/app/fx/4/33xRightarrow.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 65%;
    background-position-x: -1258px;
    background-position-y: center;*/
}
.math.arrow12 {
    background-image: url('../images/app/fx/4/35tofrom.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 65%;
    background-position-x: -1232px;
    background-position-y: center;*/
}
.math.arrow13 {
    background-image: url('../images/app/fx/4/37lefftrigght.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 65%;
    background-position-x: -1205px;
    background-position-y: center;*/
}
.math.arrow14 {
    background-image: url('../images/app/fx/4/32from.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 65%;
    background-position-x: -1179px;
    background-position-y: center;*/
}
.math.arrow15 {
    background-image: url('../images/app/fx/4/34xLeftarrow.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
    height: 50px;
/*    background-size: auto 65%;
    background-position-x: -1258px;
    background-position-y: center;*/
}
.math.arrow16 {
    background-image: url('../images/app/fx/4/18Downarrow.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 65%;
    background-position-x: -1389px;
    background-position-y: center;*/
}
.math.arrow17 {
    background-image: url('../images/app/fx/4/21leftrightarrow.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 40px;
    height: 50px;
/*    background-size: auto 65%;
    background-position-x: -1311px;
    background-position-y: center;*/
}
.math.alpha1 {
    background-image: url('../images/app/fx/5/11forall.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -1331px;
    background-position-y: center;*/
}
.math.alpha2 {
    background-image: url('../images/app/fx/5/13check.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -1641px;
    background-position-y: center;*/
}
.math.alpha3 {
    background-image: url('../images/app/fx/5/12infin.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -1619px;
    background-position-y: center;*/
}
.math.alpha3A {
    background-image: url('../images/app/function/5/4Δ.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -1619px;
    background-position-y: center;*/
}
.math.alpha4 {
    background-image: url('../images/app/fx/5/21a.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -1575px;
    background-position-y: center;*/
}
.math.alpha5 {
    background-image: url('../images/app/fx/5/23b.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -1553px;
    background-position-y: center;*/
}
.math.alpha6 {
    background-image: url('../images/app/fx/5/25g.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -1530px;
    background-position-y: center;*/
}
.math.alpha7 {
    background-image: url('../images/app/function/5/Δ.svg');
    background-size: 40% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -1529px;
    background-position-y: center;*/
}
.math.alpha8 {
    background-image: url('../images/app/fx/5/27d.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-position-x: -1508px;
    background-position-y: center;
    background-size: auto 55%;*/
}
.math.alpha9 {
    background-image: url('../images/app/fx/5/29-0v.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -1485px;
    background-position-y: center;*/
}
.math.alpha10 {
    background-image: url('../images/app/fx/5/29-2l.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -1352px;
    background-position-y: center;*/
}
.math.alpha11 {
    background-image: url('../images/app/fx/5/29-4m.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -2306px;
    background-position-y: center;*/
}
.math.alpha12 {
    background-image: url('../images/app/fx/5/29-6x.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -2284px;
    background-position-y: center;*/
}
.math.alpha13 {
    background-image: url('../images/app/fx/5/29-8p.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -2262px;
    background-position-y: center;*/
}
.math.alpha14 {
    background-image: url('../images/app/fx/5/29-10s.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -2240px;
    background-position-y: center;*/
}
.math.alpha15 {
    background-image: url('../images/app/fx/5/29-12p.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -2218px;
    background-position-y: center;*/
}
.math.alpha16 {
    background-image: url('../images/app/fx/5/29-14c.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -2195px;
    background-position-y: center;*/
}
.math.alpha17 {
    background-image: url('../images/app/fx/5/29-16ps.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -2018px;
    background-position-y: center;*/
}
.math.alpha18 {
    background-image: url('../images/app/fx/5/29-18o.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -1996px;
    background-position-y: center;*/
}
.math.alpha19 {
    background-image: url('../images/app/function/5/Ω.svg');
    background-size: 42% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -1974px;
    background-position-y: center;*/
}
.math.alpha20 {
    background-image: url('../images/app/fx/5/29-20phi.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
    /*background-size: auto 55%;*/
}
.math.alpha21 {
    background-image: url('../images/app/fx/5/22A.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -1375px;
    background-position-y: center;*/
}
.math.alpha22 {
    background-image: url('../images/app/fx/5/24B.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -1464px;
    background-position-y: center;*/
}
.math.alpha23 {
    background-image: url('../images/app/fx/5/26G.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -1441px;
    background-position-y: center;*/
}
.math.alpha24 {
    background-image: url('../images/app/fx/5/28D.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-position-x: -1419px;
    background-position-y: center;
    background-size: auto 55%;*/
}
.math.alpha25 {
    background-image: url('../images/app/fx/5/29-1E.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -1397px;
    background-position-y: center;*/
}
.math.alpha26 {
    background-image: url('../images/app/fx/5/29-3L.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -2175px;
    background-position-y: center;*/
}
.math.alpha27 {
    background-image: url('../images/app/fx/5/29-5M.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -2151px;
    background-position-y: center;*/
}
.math.alpha28 {
    background-image: url('../images/app/fx/5/29-7X.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -2129px;
    background-position-y: center;*/
}
.math.alpha29 {
    background-image: url('../images/app/fx/5/29-9P.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -2106px;
    background-position-y: center;*/
}
.math.alpha30 {
    background-image: url('../images/app/fx/5/29-11S.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -2085px;
    background-position-y: center;*/
}
.math.alpha31 {
    background-image: url('../images/app/fx/5/29-13P.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -2062px;
    background-position-y: center;*/
}
.math.alpha32 {
    background-image: url('../images/app/fx/5/29-15C.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -2040px;
    background-position-y: center;*/
}
.math.alpha33 {
    background-image: url('../images/app/fx/5/29-17Ps.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -2018px;
    background-position-y: center;*/
}
.math.alpha34 {
    background-image: url('../images/app/fx/5/29-19O.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 55%;
    background-position-x: -1929px;
    background-position-y: center;*/
}
.math.square8 {
    background-image: url('../images/app/fx/6/11overfrown.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 79%;
    background-position-x: -2715px;
    background-position-y: center;*/
}
.math.square9 {
    background-image: url('../images/app/fx/6/17widehat.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 79%;
    background-position-x: -2523px;
    background-position-y: center;*/
}
.math.square10 {
    background-image: url('../images/app/fx/6/13overline.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 79%;
    background-position-x: -2651px;
    background-position-y: center;*/
}
.math.square11 {
    background-image: url('../images/app/fx/6/12undersmiley.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 79%;
    background-position-x: -2715px;
    background-position-y: center;*/
}
.math.square12 {
    background-image: url('../images/app/fx/6/14underline.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 79%;
    background-position-x: -2619px;
    background-position-y: center;*/
}
.math.square13 {
    background-image: url('../images/app/fx/6/23underbrace.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 79%;
    background-position-x: -2428px;
    background-position-y: center;*/
}
.math.square14 {
    background-image: url('../images/app/fx/6/18mathring.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 79%;
    background-position-x: -2492px;
    background-position-y: center;*/
}
.math.square15 {
    background-image: url('../images/app/fx/6/15overrightarrow.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-position-x: -2492px;
    background-position-y: center;
    background-size: auto 79%;*/
}
.math.square16 {
    background-image: url('../images/app/fx/6/16overleftarrow.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 79%;
    background-position-x: -2492px;
    background-position-y: center;*/
}
.math.square17 {
    background-image: url('../images/app/fx/6/21strikethrough.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 84%;
    background-position-x: -3564px;
    background-position-y: center;*/
}
.math.square18 {
    background-image: url('../images/app/fx/6/22cancel.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
/*    background-size: auto 91%;
    background-position-x: -2836px;
    background-position-y: center;*/
}
.math.square19 {
    background-image: url('../images/app/fx/6/24overbrace.svg');
    background-size: 85% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
}

.math.sin {
    background-image: url('../images/app/fx/1/61sin.svg');
    background-size: 100% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
}
.math.cos {
    background-image: url('../images/app/fx/1/62cos.svg');
    background-size: 100% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
}
.math.tan {
    background-image: url('../images/app/fx/1/63tan.svg');
    background-size: 100% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
}
.math.cot {
    background-image: url('../images/app/fx/1/64cot.svg');
    background-size: 100% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
}
.math.arcsin {
    background-image: url('../images/app/fx/1/65arcsin.svg');
    background-size: 100% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
}
.math.arccos {
    background-image: url('../images/app/fx/1/66arccos.svg');
    background-size: 100% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
}
.math.arctan {
    background-image: url('../images/app/fx/1/67arctan.svg');
    background-size: 100% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
}
.math.arccot {
    background-image: url('../images/app/fx/1/68arccot.svg');
    background-size: 100% auto;
    background-position: center center;

    width: 32px;
    height: 50px;
}
