.logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: $t1 $cubic1;
	@include max-media(1024px) {
	}
	img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}
}
